  #biography{
    display: flex;
    justify-content: space-between;
    margin: 150px 50px 110px;
  }
  
  .biography-intro-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #biography span {
    font-size: 30px;
    color: #505a7e;
    border-color: #755d8d;
    border-bottom-style: solid;
    width: 230px;
    border-bottom-width: 4px;
  }
  #biography h1 {
    font-size: 80px;
    margin: 0;
     background: linear-gradient(to bottom, #C193C5, #7BC6CC);
    -webkit-background-clip: text; /* Para navegadores basados en WebKit */
    background-clip: text;
    color: transparent; /

  }
  #biography p {
    font-size: 20px;
    margin: 10px 0px;
    color: #505a7e;
    line-height: 1.444;
  }
  #biography .dowloand-cv {
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    padding: 17px;
    width: 180px;
    border-radius: 30px;
    background: #7BC6CC;
    cursor: pointer;
    box-shadow: 5px 6px 0px rgb(129 186 240 / 30%);

  }
  #biography .dowloand-cv:hover {
    -webkit-animation: bounce 1s;
            animation: bounce 1s;
    background: #87cacf;
  }
  
/* Media Query para teléfono */
@media only screen and (max-width: 599px) {
  #biography {
    margin: 50px 0px 50px 30px;
    justify-content: center;
  }

  .biography-intro-text {
    align-items: center;
  }

  #biography h1 {
    font-size: 40px;
  }

  #biography span {
    font-size: 20px;
    text-align: center;
  }

  #biography p {
    text-align: center;
  }

  .banner {
    display: none;
  }

 }