#my-experience {
    text-align: center;
    margin: 60px 50px;
    width: 350px;
  }
  
  .company-name {
    margin-block: 15px;
    font-weight: bold;
  }
  
  .company-tools { 
    margin-block: 5px;
  }
  
  
  
  .experience-section h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #0d1d56;
    border-color: #755d8d;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    margin-inline: 50px;
    width: 260px;
  }
  
  .experience-item {
    display: flex;
    justify-content: center;
  }
  
  .company-img {
    width: 70px;
    height: 75px;
    margin-inline: 30px;
  }
  
  .experience-item .line {
    border-color: #0b4b5b;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    width: 170px;
    margin: 0 auto;
    margin-block: 10px;
  
  }

/* Media Query para teléfono */
@media only screen and (max-width: 599px) {
  #my-experience {
    margin: 45px 50px;
  }

  .experience-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .experience-item {
    flex-direction: column;
  }
 }