#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  #skills .skills-subtitle {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0px 50px;
    flex-direction: column;
  }
  #skills .skills-subtitle h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #0d1d56;
    border-color: #755d8d;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    width: 160px;
  }
  #skills .skills-subtitle p {
    text-align: center;
    font-size: 20px;
    line-height: 1.444;
    color: #505a7e;
    margin-top: 30px;
  }
  
  .skills-items {
    margin: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  
  .skill-image {
    width: 65px;
    height: 60px;
    margin-inline: 10px;
  }
  
  .item {
    margin-inline: 10px;
  }

/* Media Query para teléfono */
@media only screen and (max-width: 599px) {
  .skill-image {
    margin: 15px;

  }
 }