.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 50px;
}

.navbar-social {
    padding: 0;
}

.mobile-photo {
    display: none;
}


/* Media Query para teléfono */
@media only screen and (max-width: 599px) {
    .navbar {
        display: none;
    }
    .mobile-photo {
        display: block;
        width: 100px;
        border-radius: 50%;
        margin: 20px 0px 0px 40px;
    }
}